/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        // 34 keys.

        zmk,matrix-transform = &dual_1u_transform;

        // 33 keys. Center two thumb keys replaced by a single 2u key. Remember to adjust your
        // keymap accordingly!
        // zmk,matrix-transform = &single_2u_transform;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
&kp Q             &kp W  &kp E  &kp R          &kp T         &kp Y        &kp U      &kp I      &kp O    &kp P
&kp A             &kp S  &kp D  &kp F          &kp G         &kp H        &kp J      &kp K      &kp L    &kp SEMI
&mt LEFT_SHIFT Z  &kp X  &kp C  &kp V          &kp B         &kp N        &kp M      &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
                                &kp BACKSPACE  &lt 1 BSPC    &lt 2 SPACE  &kp SPACE
            >;
        };

        lower {
            display-name = "Lower";
            bindings = <
&kp ESCAPE      &kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp COLON          &kp RIGHT_PARENTHESIS  &kp N0          &kp P            &kp LEFT_PARENTHESIS
&kp TAB         &kp MINUS  &kp NUMBER_4  &kp N5        &kp NUMBER_6    &kp C_VOLUME_UP    &kp K_SCROLL_DOWN      &kp UP_ARROW    &kp K_SCROLL_UP  &kp ENTER
&kp LEFT_SHIFT  &kp N0     &kp N7        &kp N8        &kp N9          &kp C_VOLUME_DOWN  &kp LEFT_ARROW         &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp RIGHT_SHIFT
                                         &to 0         &to 0           &tog 1             &to 0
            >;
        };

        layer_2 {
            bindings = <
&kp LS(EXCL)      &kp LS(AT)            &kp LS(POUND)         &kp LS(DLLR)  &kp LS(PRCNT)    &kp LS(CARET)  &kp LS(AMPS)           &kp LS(STAR)  &kp LS(LPAR)          &kp LS(RPAR)
&kp SLASH         &kp NON_US_BACKSLASH  &kp LEFT_PARENTHESIS  &kp SQT       &kp U            &kp SQT        &kp RIGHT_PARENTHESIS  &kp SLASH     &kp NON_US_BACKSLASH  &kp X
&kp LEFT_CONTROL  &kp LEFT_SHIFT        &kp C                 &kp V         &kp Z            &kp A          &kp T                  &kp LEFT_WIN  &kp N5                &kp SPACE
                                                              &trans        &tog 2           &to 0          &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
